<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title fat-text">{{modalText}}</h4>
      <button type="button" class="btn btn-close" (click)="modal.close()">X</button>
    </div>
    <div class="modal-body">
      <div class="grid-container" *ngFor="let day of weekday; let i = index">
        <div [ngClass]="{'day':day==currentDayID}">{{day}}</div>
        <div [ngClass]="{'hours':day==currentDayID}">{{hours[i][0]}} - {{hours[i][1]}}</div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>