<!-- <div class="row">
  <div class="col">
    <div class="toolbar" style="float:left;" ngbDropdown #myDrop="ngbDropdown" [@sideMenuLeft]>
      <button class="menu-item toolbar" role="banner" id="dropdownManual" ngbDropdownToggle (click)="isOpen=!isOpen" (click)="toggle()">
        <img width="40" alt="Welcome Logo" src="../../../assets/img/island.png" />
        Menu
      </button>
        <app-daiquiri-list 
        ngbDropdownMenu aria-labelledby="dropdownManual"class="side-menu" [isOpen]="isOpen"
        class="side-menu ng-tns-c109-0 ng-tns-c108-2 dropdown-menu show">
      </app-daiquiri-list>
    </div>
  </div>
  <div class="col">
    <div class="toolbar" style="float:right;" ngbDropdown #myDrop="ngbDropdown" [@sideMenuRight]>
      <button class="menu-item toolbar" role="banner" id="dropdownManual" ngbDropdownToggle>
        <img width="40" alt="Welcome Logo" src="../../../assets/img/island.png" />
        Filter by Liquor
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual" class="side-menu">
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col">
    <div class="toolbar" style="float:left;" [@sideMenuLeft]>
      <button class="menu-item toolbar" role="banner" (click)="isOpen=!isOpen" (click)="toggle()">
        <img width="40" alt="Welcome Logo" src="../../../assets/img/island.png" />
        Menu
      </button>
      <div>
        <app-daiquiri-list
        *ngIf="isOpen"
        [isOpen]="isOpen"
        >
      </app-daiquiri-list>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="toolbar" style="float:right;" [@sideMenuRight]>
      <button class="menu-item toolbar" role="banner">
        <img width="40" alt="Welcome Logo" src="../../../assets/img/island.png" />
        Filter by Liquor
      </button>
      <div class="side-menu">
      </div>
    </div>
  </div>
</div>