<!-- <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Welcome Logo"
      src="../../../assets/img/island.png"
          />
    <span id="demo2"> Welcome to The Island!</span>
      <div class="spacer"></div>
  </div>
 -->

  <div class="menu-trigger">
    <i class="gg-push-chevron-right-o"></i>
  </div>
  
  <div class="side-menu" *ngIf="isOpen" [@sideMenu]>
    <div class="menu-close" (click)="isOpen = !isOpen">
      <i class="gg-push-chevron-left-o"></i>
    </div>
    <!-- <div class="menu-item" *ngFor="let item of [1, 2, 3, 4, 5]; let i = index">
      Menu Item {{ i }}
    </div> -->
    <div class="menu-item toolbar" role="banner">
      <img
        width="40"
        alt="Welcome Logo"
        src="../../../assets/img/island.png"
            />
      <span id="demo2"> Welcome to The Island!</span>
        <div class="spacer"></div>
    </div>

  </div>
  