<div class="row">
  <div class="col">
<div class="toolbar" style="float:left;" ngbDropdown #myDrop="ngbDropdown" [@sideMenuLeft]>
  <button class="menu-item toolbar" role="banner" id="dropdownManual" ngbDropdownToggle>
    <img width="40" alt="Welcome Logo" src="../../../assets/img/island.png" />
    Menu
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual" class="side-menu">
    <app-daiquiri-list></app-daiquiri-list>
  </div>
</div>
</div>
<div class="col">
<div class="toolbar" style="float:right;" ngbDropdown #myDrop="ngbDropdown" [@sideMenuRight]>
  <button class="menu-item toolbar"  role="banner" id="dropdownManual" ngbDropdownToggle>
    <img width="40" alt="Welcome Logo" src="../../../assets/img/island.png" />
    Filter by Liquor
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual" class="side-menu">
    <!-- <app-teams></app-teams> -->
  </div>
</div>
</div>
</div>