<cdk-virtual-scroll-viewport itemSize="44" class="viewport" #scrollViewport 
minBufferPx="1200" maxBufferPx="1200" [@simpleFadeAnimation]>  
<ul>
    <li class="mdc-list-item site-list-item__primary-text" 
    *cdkVirtualFor="let daq of daiquiriList; let i = index"
      (mouseover)="daq.hovering=true"
      (mouseout)="daq.hovering=false" 
      (click)="activate(i);"
      >
      <div class="daq-text"
        [ngStyle]="{
          'background' : 'linear-gradient('+daq.background+','+daq.color+','+daq.background+')',
          'border-color': daq.collapsed ? daq.background : daq.color,
          'border-radius': daq.collapsed?'50px':'25px',
          'color': daq.color,
          'height': daq.collapsed?'8vh': daq.liquors?.length*6+8+'vh'}"
          >
        {{daq.name}}
        <li class="mdc-list-item site-list-item__primary-text inner" 
        >
          <div class="inner" *ngIf="!daiquiriList[i].collapsed"
          style="text-transform: none;"
          [ngStyle]="{'color': daq.background,'font-size': 'x-large'}"
          >
          <p *ngFor="let l of daiquiriList[i].liquors">{{l}}</p>
          </div>
        </li>
      </div>
    </li>
  </ul>
</cdk-virtual-scroll-viewport>