// cdk-virtual-scroll-viewport {
//     display: flex;
//     align-self: center;
//   }

.dropdown-menu:before {
  color: transparent;
}

.viewport {
  height: 90vh;
  width: 20vw;
  min-width: 100%;
  background: transparent;
  // margin: 8em 8em 8em;
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.25);
  // background: url(../../../assets/img/nakamoto-forestry-armstrong-rustic-brown.jpg) no-repeat center center fixed;
  filter: drop-shadow(4px 4px 100px rgb(95, 95, 95));
  // filter:opacity(50%);
  border-radius: 16px;
  top: 0px;
  transition: 1s;
  &::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
}

/* List */
ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;

}

/* List element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  // transition: all 1s;
}

/* Element counter */
ul {
  // content: counters(index, ".", decimal-leading-zero);
  // font-size: 1.63rem;
  // font-size : 1.3vw;
  // white-space: nowrap;
  // float: right;
  // font-weight: bold;
  min-width: 50px;
  // width:fit-content;
  // padding-right: 12px;
  // font-feature-settings: "tnum";
  // font-variant-numeric: tabular-nums;
  // align-self: flex-start;
  // background-attachment: fixed;
  // color: transparent;
  background: url(../../../assets/img/nakamoto-forestry-armstrong-rustic-brown.jpg) no-repeat center center fixed;
  // background-image: linear-gradient(to bottom, rgb(255, 230, 0), rgb(255, 0, 0)) !important;
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  mix-blend-mode: lighten;
  // text-shadow: 0 0 0.5em rgb(0, 0, 0), -0.025em 0.025em 0.1em rgb(255, 255, 255),
  // -0.05em 0.05em 0.1em #000, -0.1em 0.1em 0.3em #000,
  // -0.1em 0.1em 0.5em rgba(255, 255, 255, 0.5);
  // text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #000,
  //   -0.05em 0.05em 0.1em rgb(255, 255, 255), -0.1em 0.1em 0.3em rgb(0, 0, 0),
  //   -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
  translate: translate3d(0, 0, 0);
  font-family: "Muli", sans-serif;
  line-height: 1;
  font-weight: 900;
  // text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  // background-color: transparent;
  // color: crimson
}

// .daq-text {
//   display: inline-block;
//   transition: transform .7s ease-in-out;

//   &:hover {
//     transform: rotate3d(0, 1, 0, 180deg);
//   }
// }

//   /* Element separation */
//  li + li {
//     border-top: 1px solid rgba(0, 0, 0, 0.2);
//  }
@media (min-width:320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {

  /* big landscape tablets, laptops, and desktops */
  ul {
    font-size: 1.63rem;
  }
}

@media (min-width:1281px) {

  /* hi-res laptops and desktops */
  ul {
    font-size: 1.63rem;
  }
}



