img {
    width: 40%;
    float: left;
  }
  
  .daiquiri-image-1 {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  .daiquiri-image-2 {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
  }