img {
      width: 40%;
      transition: .75s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
    }
    

@media only screen and (max-width: 768px) {
      /* For mobile phones: */
    img {
      // position: absolute;
      // width: 100% !important; 
      // margin:0 auto !important;
      // top: 20% !important;
      transition: .75s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) 
    }
  }